<!-- Home -->
<div class="continer">
<div class="row">
	<div class="col-xs-12"></div>
</div>

<!-- 投稿・更新時にサクセスメッセージ表示 -->
      <% if flash[:notice] %>
        <div class = "flash">
          <%= flash[:notice] %>
        </div>
      <% else %>
          <div class = "flash">
            <%= flash[:alert] %>
          </div>
      <% end %>

<body>
<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-9">
		<h2>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true">Bookers!</span></h2>
	</div>
</div>

<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-9">
		In <span class="glyphicon glyphicon-book" aria-hidden="true">Bookers,</span>

		<p>you can share and exchange your opinions , inpressions , and<br>emotions<br>
		about various books!</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-9">
    	<h3>
		<%= link_to new_user_session_path, class:"btn btn-success" do %>Log in<% end %>
		</h3>
		<h3>
        <%= link_to new_user_registration_path, class:"btn btn-info" do %>Sign Up<% end %>
    	</h3>
	</div>
</div>
</body>

<div class="row">
	<div class="col-xs-7"></div>
	<p>CopyRight Infratop.inc</p>
</div>
</div>